<!DOCTYPE html>
<html>
<head>

    <style>

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url("https://static.dezeen.com/uploads/2017/02/sheffield-childrens-hospital-morag-myerscough-interior-design-uk_dezeen_2364_hero.gif");
            background-size: cover;
        }

        .codntainer {
            border-radius: 5px;
            background-color: skyblue;
            padding: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button1").click(function () {
                var div = $("div");
                alert('Heart Attack');
            });
        });
    </script>
</head>
<body>

    <div  class="container" style="width:25%; text-align:center">
        <br/>
        <br/>
        <strong>
            <table class="table">
                <tr><td><h1>Symptoms Test</h1></td></tr>
                <tr class="active">
                    <td>
                        Headache:
                    </td>
                    <td>
                        <input type="checkbox" id="Headache">
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Breath Shorness:
                    </td>
                    <td>
                        <input type="checkbox" id="Breathshorness">
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Coug:
                    </td>
                    <td>
                        <input type="checkbox" id="Coug">
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Dizziness:
                    </td>
                    <td>
                        <input type="checkbox" id="Dizziness">
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Vomiting:
                    </td>
                    <td>
                        <input type="checkbox" id="Vomiting">
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Constipation:
                    </td>
                    <td>
                        <input type="checkbox" id="Constipation">
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Chest Pain:
                    </td>
                    <td>
                        <input type="checkbox" id="Chestpain">
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Swelling:
                    </td>
                    <td>
                        <input type="checkbox" id="Swelling">
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Sneezing:
                    </td>
                    <td>
                        <input type="checkbox" id="Sneezing">
                    </td>
                </tr>
                <tr><td><button class="btn btn-primary btn-sl" onclick="myFunction()">Check for Disease</button></td></tr>
            </table>
        </strong>
    </div>
    <br/>
    <br/>
    
    <script>
        function myFunction() {
            var H, B, C, D, SZ, V, Cons, Chest, S;
            if (document.getElementById("Headache").checked == true)
                H = true;
            if (document.getElementById("Breathshorness").checked == true)
                B = true;
            if (document.getElementById("Coug").checked == true)
                C = true;
            if (document.getElementById("Sneezing").checked == true)
                SZ = true;
            if (document.getElementById("Dizziness").checked == true)
                D = true;
            if (document.getElementById("Vomiting").checked == true)
                V = true;
            if (document.getElementById("Constipation").checked == true)
                Cons = true;
            if (document.getElementById("Chestpain").checked == true)
                Chest = true;
            if (document.getElementById("Swelling").checked == true)
                S = true;
            if (H == B == C == D == V == Cons == Chest == S == true)
                alert('Your are going to die!');
            else if (SZ == Chest == true)
                alert('Cold...Please wear jacket outdoors');
            else if (V == Cons == true)
                alert('Pet Kharab...Please eat Azwan');
            else if (D == V == H == true)
                alert('Headache Problem!');
            else if (B == Chest == true)
                alert('Heart Attack Alert... Please Take  Cardio');

        }
    </script>



</body>
</html>
